@font-face {
  font-family: 'ZX Spectrum';
  src: url('/zxspectr.woff') format('woff');
}

body {
  font-family: 'ZX Spectrum';
  font-size: 0.9em;
  background: #000;
  color: #0f0;
  line-height: 120%;
}

.tperson {
  font-size: small;
  margin-left: 12em;
}

ul {
  list-style: none;
}

li {
  padding-top: 1em;
  text-indent: -9em;
  margin-left: 9em;
}

.ttitle {
  /*font-style: italic;*/
  font-weight: bold;
  background-color: #0ff;
  color: #000;
}

h1 {
  text-align: center;
  padding-bottom: 0.5em;
  margin-bottom: 1em;
  color: #ff0;
  line-height:100%;
  border-bottom: 4px dotted #f0f;
}

#container {
  padding-top: 3em;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}

#footer {
  margin-top: 20em;
  font-size: x-small;
  text-align: right;
}

a {
  text-decoration: none;
  color: #f0f;
}
